// @file
// Custom sass variables
//
// Define the custom variables for your project here.
// http://sass-lang.com/docs/yardoc/file.SASS_REFERENCE.html#variables_

// Layout
$gutter-width: 48px;

// Colors
$f1-red: #bf311a;
$f1-orange: #f8971d;
$f1-blue: #73afb6;
$highlight-color: $f1-orange;
$primary-text-color: #fff;
$secondary-text-color: #ccc;
$heading-text-color: $primary-text-color;
$body-color: #000;
$link-color: $highlight-color;
$link-hover-color: #f39033;
$selection-background: blue;
$selection-foreground: #fff;
$border-color: #ccc;
$gradient-light: rgba(255, 255, 255, 0.2);
$gradient-dark: rgba(0, 0, 0, 0.2);

// Typography
$base-font-family: Oswald, Calibri, "Helvetica Neue", Helvetica, Arial, sans-serif;
$header-font-family: Oswald, AlternateGothicNo1D, LeagueGothicRegular, Arial, Helvetica, sans-serif;
$monospace-font-family: Consolas, "Lucida Console", "Liberation Mono", "Courier New", monospace, sans-serif;
$base-font-size: 48px;
$base-line-height: 60px;
$font-size-xxl: 96px;
$font-size-xl: 72px;
$font-size-lg: 60px;
$font-size-normal: $base-font-size;
$font-size-md: 36px;
$font-size-sm: 32px;

// Buttons
$button-bg-color: #f9f9f9;
$button-text-color: #333;
$button-font-family: $base-font-family;
