// @file
// Slides

// Show/hide other slides based on which slide is active.
@each $slide in title, dcmouyard, disabilities, hearing, design, final {
  .impress-on-#{$slide} .show-on-#{$slide} {
    opacity: 1;
  }
  .impress-on-#{$slide} .hide-on-#{$slide} {
    opacity: 0;
  }
}

%bg-primary {
  background: url(../img/branding/f1-wordmark-white.svg) no-repeat calc(100% - 24px) calc(100% - 18px),
              $f1-red url(../img/branding/f1-thin-circle-white.svg) no-repeat -1000px 50px;
  background-size: 144px 16px, 1800px 1800px;

  a {
    color: $f1-white;
  }
}

%bg-secondary {
  background: url(../img/branding/f1-wordmark-white.svg) no-repeat calc(100% - 24px) calc(100% - 18px),
              $f1-ash url(../img/branding/f1-thin-circle-red.svg) no-repeat -1000px 50px;
  background-size: 144px 16px, 1800px 1800px;
}

.impress-on-title {
  @extend %bg-primary;
}

#title {
  text-shadow: none;

  h1 {
    margin: 0;
  }

  small {
    display: block;
    margin-top: em(32px, 45px);
    text-transform: none;
  }
}

#dcmouyard {
  h3 {
    margin-bottom: 0.5em;
  }

  img {
    background: #000;
  }
}

.impress-on-why {
  @extend %bg-secondary;
}

#why {
  text-shadow: darken($f1-ash, 20%) 2px 2px;

  .title {
    margin: 0;
  }
}

.impress-on-personal-story {
  @extend %picture-background;
  background-image: url(../img/dj.jpg);
}

.impress-on-why-legal {
  @extend %picture-background;
  // http://www.flickr.com/photos/jreed/379881530/
  background-image: url(../img/target.jpg);
}

.impress-on-why-blind {
  @extend %picture-background;
  // http://www.flickr.com/photos/specialkrb/4689672374/
  background-image: url(../img/blind.jpg);
}

.impress-on-why-elderly {
  @extend %picture-background;
  // http://www.flickr.com/photos/srgblog/3309100541/
  background-image: url(../img/elderly.jpg);
}

.impress-on-why-glare {
  @extend %picture-background;
  // http://www.flickr.com/photos/chrisdlugosz/3592952033/
  background-image: url(../img/glare.jpg);
}

.impress-on-disabilities {
  @extend %bg-secondary;
}

#disabilities {
  .title {
    margin: 0;
  }
}

.impress-on-screenreader-demo {
  @extend %picture-background;
  background-image: url(../img/maruchan.jpg);
}

.impress-on-light-sensitivity {
  // http://www.flickr.com/photos/flyingturtle/2455173339/
  background: #fff url(../img/ant.jpg) no-repeat bottom left;
}

#light-sensitivity {
  color: #000;
  text-shadow: none;

  blockquote {
    padding-bottom: 2em;

    &:before {
      text-shadow: rgba(0, 0, 0, 0.2) 2px 2px;
    }
  }
}

.impress-on-normal-vision {
  @extend %picture-background;
  background-image: url(../img/normal-vision.jpg);
}

.impress-on-photophobia {
  @extend %picture-background;
  background-image: url(../img/photophobia.jpg);
}

.impress-on-deuteranopia {
  @extend %picture-background;
  background-image: url(../img/deuteranopia.jpg);
}

.impress-on-protanopia {
  @extend %picture-background;
  background-image: url(../img/protanopia.jpg);
}

.impress-on-macular-degeneration {
  @extend %picture-background;
  background-image: url(../img/macular-degeneration.jpg);
}

.impress-on-tunnel-vision {
  @extend %picture-background;
  background-image: url(../img/tunnel-vision.jpg);
}

#video-captions iframe {
  display: block;
  margin: 0 auto;
}

#sip-puff iframe {
  display: block;
  margin: 0 auto;
}

.impress-on-mobility-demo {
  @extend %picture-background;
  background-image: url(../img/craigslist.jpg);
}

.impress-on-keyboard-demo {
  @extend %picture-background;
  background-image: url(../img/virgin-america.jpg);
}

.impress-on-bad-attention-demo {
  @extend %picture-background;
  background-image: url(../img/lingscars.jpg);
}

.impress-on-good-attention-demo {
  @extend %picture-background;
  background-image: url(../img/medium.jpg);
}

.impress-on-foreign-demo {
  @extend %picture-background;
  background-image: url(../img/codeprep.jpg);
}

.impress-on-design {
  @extend %bg-secondary;
}

.impress-on-flicker {
  @extend %picture-background;
  // http://www.flickr.com/photos/mutantlog/3679652003/
  background-image: url(../img/pokemon.jpg);
}

.impress-on-shake {
  @extend %picture-background;
  background-image: url(../img/cssshake.jpg);
}

.impress-on-contrast-rebellion {
  @extend %picture-background;
  background-image: url(../img/contrast-rebellion.jpg);
}

.impress-on-stop-sign {
  @extend %picture-background;
  background-image: url(../img/stop-sign.jpg);
}

.impress-on-thank-you {
  @extend %bg-secondary;
}

.impress-on-all {
  .step {
    opacity: 1;
  }
}
